<launch>
	<master auto="start"/>
	<!-- Run the map server --> 
 	<node name="map_server" pkg="map_server" type="map_server" args="$(find rover_nav)/envs/steepness.yaml"/>
  	
	<node name="fake_localization" pkg="fake_localization" type="fake_localization" output="screen" />
	<node name="fake_localization_publisher" pkg="rover_nav" type="fake_localization_publisher.py" output="screen" />

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<remap from="/cmd_vel" to="/rover_diff_drive_controller/cmd_vel" />
		<rosparam file="$(find rover_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
		<rosparam file="$(find rover_nav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find rover_nav)/config/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find rover_nav)/config/global_costmap_params.yaml" command="load" /> 
		<rosparam file="$(find rover_nav)/config/base_local_planner_params.yaml" command="load" />
 	</node>

</launch> 
